# Node modules
node_modules/

# Build output
dist/
build/

# Logs
*.log

# TypeScript
*.tsbuildinfo

# Env
.env
.env.*

# Coverage
coverage/

# IDE/editor
.vscode/
.idea/
*.sw?

# OS-specific
.DS_Store
Thumbs.db
